.App {
    text-align: center;
    background-color:rgb(134, 251, 255);    
    margin-right: 25%;
    margin-left: 25%;
    
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  